<!-- I was not able to put the CSS in a separate file as described in the documentation -->
<li data-key="calculateReadability">
    <a id="calculateReadabilityButton">
        <span id="readabilityInfo" data-l10n-id="readability.readability" style="float:left;color:black; height:100%; font-size:1.25em; margin: 0.15em;"></span>
        &nbsp;
        <span id="readabilityMarker" data-l10n-id="readability.noResultYet" style="float:right;color:black;display:inline-block;font-size:1.25em;width:35px;height:100%;border:1px black dotted;"></span>
    </a>
</li>
<li class="separator"></li>
